img {
  padding: 10px;
  width: 100%;
  max-width: 250px;
  height: auto;
  border-radius: 1rem;
}

h2 {
  color: #fffcff;
}

.card {
  padding: 10px;
  background: #181818;
  display: flex;
  flex-flow: column;
  align-items: center;
  overflow: visible;
  border-radius: 0.7rem;
}

.button__container {
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
}

.card__button {
  padding: 8px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  background: #183153;
  box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.card__button::after {
  content: " ";
  width: 0%;
  height: 100%;
  background: #d80e0e;
  position: absolute;
  transition: all 0.4s ease-in-out;
  right: 0;
}

.card__button:hover::after {
  right: auto;
  left: 0;
  width: 100%;
}

.card__button span {
  width: 100%;
  color: #fff;
  transition: all 0.3s ease-in-out;
  z-index: 20;
}

.card__button:hover span {
  color: #fffcff;
  animation: scaleUp 0.3s ease-in-out;
}

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}
