.searchBar {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
  gap: 15px;
}

.disableSearchBar {
  display: none;
}

.searchBar__input {
  padding: 6px;
  border-radius: 5px;
  border: 2px solid black;
}

.searchBar__button {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}

.searchBar__button__add:hover {
  transition: 0.3s;
  border: 2px solid #21bd21;
}

.searchBar__button__random:hover {
  transition: 0.3s;
  border: 2px solid #ff0909;
}
