.searchBar__input {
  padding: 6px;
  border-radius: 5px;
  border: 2px solid black;
}

.searchBar__button {
  display: flex;
  align-items: center;
  padding: 4px;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 15px;
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}

.searchBar__button--add:hover {
  transition: 0.3s;
  border: 2px solid #21bd21;
}

.searchBar__button--random:hover {
  transition: 0.3s;
  border: 2px solid #ff0909;
}
