.login-container {
  margin: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.login-form {
  padding: 80px;
  border-radius: 15px;
  display: flex;
  flex-flow: column;
  gap: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f0f0e7;
  border: 6px solid green;
}

.login-form__input {
  padding: 10px;
  border-radius: 5px;
  border: 2px solid black;
}

.login-form__button {
  padding: 15px 90px;
  color: #fff;
  letter-spacing: 4px;
  font-size: 24px;
  text-decoration: none;
  overflow: hidden;
  transition: 0.2s;
  border-radius: 7px;
  border: none;
  background-color: #ffb703;
}

.login-form__button:hover {
  background: #d19c14;
  box-shadow: 0 0 10px #d19c14, 0 0 40px #d19c14, 0 0 80px#D19C14;
  transition: 1s;
  color: #fff;
}
